# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore Java and Gradle outputs
target/
**/build/
*.class
*.jar

# Ignore common temporary files
.DS_Store
Thumbs.db
*.tmp
*.swp
